
/*
============================================
        Responsive
============================================
*/


@media only screen and (min-width:1922px) and (max-width:3840px){
.slideR_frame {
    top: 17%;
}
.title h1 {
    font-size: 80px;
    margin: 20px 0 0;
    padding: 0;
}
.position {
    top: 23%;
}    
.elephant {
    left: 37%;
    right: 57%;
    top: 14%;
}
.lion_light {
    top: 13%;
}
button.link_btn {
    font-size: 29px;
    height: 80px;
    width: 200px;
}

a.left {
    font-size: 91px;
}
a.right {
    font-size: 91px;
}
.span_btn {
    font-size: 26px;
    height: 50px;
    padding: 6px 0;
    width: 50px;
}
.pause_sound {
    left: 58%;
    position: absolute;
    right: 31%;
    top: 23%;
}
.info_btn {
    left: 60%;
    position: absolute;
    right: 31%;
    top: 23%;
}
.icon_shape {
    font-size: 44px;
}
.flag_area {
    position: absolute;
    right: 14%;
    top: 19%;
}
.elephant_comic_info {
    top: 37%;
    left: 15%;
    width: 409px;
    height: 295px;
}
.lion_comic_info {
    position: absolute;
    top: 24%;
    left: 21%;
    width: 371px;
    height: 221px;
}
.monkey_comic_info {
    top: 60%;
    width: 409px;
    height: 295px;
}
.right_lion_comic_info {
    position: absolute;
    top: 37%;
    right: 19%;
    width: 420px;
    height: 300px;
}
.right_gorilla_comic_info {
    position: absolute;
    top: 23%;
    right: 18%;
    width: 366px;
    height: 210px;
}
.right_ziraph_comic_info {
    position: absolute;
    top: 8%;
    right: 21%;
    width: 372px;
    height: 225px;
}
.comic_details {
    color: #333;
    font-size: 18px;
    left: 24%;
    position: absolute;
    top: 17%;
}
.panda_head_comic_info {
    top: 69%;
    left: 5%;
    width: 282px;
    height: 155px;
}
}

@media only screen and (min-width:1367px) and (max-width:1920px){
.slideR_frame {
    top: 19%;
} 
.position {
    top: 25%;
}
.elephant {
    left: 37%;
    right: 57%;
    top: 16%;
}
.lion_light {
    top: 15%;
}
.flag_area {
    position: absolute;
    top: 8%;
    right: 335px;
}
.flag_position {
    position: relative;
    width: 861px;
    height: 448px;
}
.flag_area img{
       -webkit-filter: brightness(.3);
        filter: brightness(.3);
        width: 110px;
        &:hover{
           -webkit-filter: brightness(1.2);
           filter: brightness(1.2);
        }
}
a.right {
  font-size: 50px;
}
    a.left {
  font-size: 50px;
}
.flag_lang {
    left: 64%;
    position: absolute;
    right: 30%;
    top: 8%;
}
.flag_lang img {
    width: 110px;
}
.title h1 {
    font-size: 40px;
    margin-top: 10px;
}
.pause_sound {
    top: 24%;
}
.brightness_icon {
    top: 24%;
    left: 54%;
}
.bright_bg {
    top: 30%;
    left: 43%;
}
.info_btn {
    top: 24%;
}
.lion_kid {
    top: 39%;
    left: 15%;
    right: 81%;
}
.left_animal_plant {
    left: 28.3%;
}
.right_animal_plant {
    right: 28.2%;
}
.elephant_comic_info {
    top: 32%;
    left: 13%;
    width: 276px;
    height: 165px;
}
.lion_comic_info {
    top: 17%;
    left: 18%;
    width: 266px;
    height: 167px;
}
.monkey_comic_info {
    top: 58%;
}
.right_lion_comic_info {
    position: absolute;
    top: 27%;
    right: 15%;
    width: 312px;
    height: 229px;
}
.right_gorilla_comic_info {
    top: 16%;
    right: 14%;
    width: 269px;
    height: 148px;
}
.right_ziraph_comic_info {
    position: absolute;
    top: 2%;
    right: 13%;
    width: 259px;
    height: 144px;
}
.bird_1_comic_info {
    top: 45%;
    left: 6%;
}
.bird_2_comic_info {
    top: 12%;
    left: 10%;
}
.zebra_1_comic_info {
    top: 36%;
    left: 14%;
    width: 223px;
}
.panda_head_comic_info {
    top: 69%;
    left: 5%;
    width: 282px;
    height: 155px;
}
.ziraph_comic_info {
    top: 57%;
    left: 18%;
}
.lion_kid_comic_info {
    top: 30%;
    left: 18%;
}
.deer_light_comic_info {
    top: 72%;
    left: 27%;
}
.aligator_light_comic_info {
    top: 62%;
    left: 33%;
}
.ziraph_kid_comic_info {
    position: absolute;
    top: 49%;
    right: 13%;
    width: 237px;
    height: 96px;
    z-index: 99;
}
.zebra_kid_comic_info {
    position: absolute;
    top: 29%;
    right: 9%;
    width: 211px;
    height: 78px;
}
.parrot_light_comic_info {
    position: absolute;
    top: 10%;
    right: 8%;
    width: 229px;
    height: 118px;
}
.buffalo_right_comic_info {
    position: absolute;
    top: 33%;
    right: 12%;
    width: 238px;
    height: 100px;
}
.snake_1_comic_info {
    position: absolute;
    top: 39%;
    right: 7%;
    width: 241px;
    height: 128px;
}
.ostrich_comic_info {
    position: absolute;
    top: 8%;
    left: 10%;
    width: 274px;
    height: 172px;
}
.animal_head_comic_info {
    position: absolute;
    top: 53%;
    left: 8%;
    width: 258px;
    height: 148px;
}
.snake_2_comic_info {
    top: 79%;
    width: 245px;
}
.butterfly_light_2_comic_info {
    top: 71%;
}
.butterfly_light_comic_info {
    top: 18%;
    right: 10%;
}
#top_ele {
    color: #333;
    font-size: 18px;
    left: 17%;
    position: absolute;
    top: 15%;
}
.elephant_top_comic_info {
    position: absolute;
    top: 5%;
    left: 39%;
    width: 234px;
    height: 132px;
    z-index: 9;
}
.elephant_top_comic_info img{
    transform: rotate(0deg);
}
.lion_top_comic_info img {
    transform: rotate(0deg);
}
.lion_top_comic_info {
    position: absolute;
    top: 4%;
    right: 39%;
    width: 234px;
    height: 132px;
    z-index: 9;
}
.other_links {
    bottom: 11.5%;
    right: 40%;
}
.morelinks_tolpit {
    bottom: 17%;
}
.fotosia_tolpit {
    bottom: 17%;
}
.tiger_light_top {
    left: 42%;
    position: absolute;
    right: 54%;
    top: 16%;
    z-index: 999999;
}
.hippopotamus_light_top {
    top: 12%;
}
.lion_light_top_06 {
    top: 13%;
}
.snake_light_top_40 {
    top: 18%;
}
#btnWrapper {
    top: 212px;
    left: 46%;
}
.sound_tolpt {
    top: 214px;
    left: 44%;
}
}


@media only screen and (min-width:1110px) and (max-width:1240px){
.slideR_frame {
    top: 16%;
}
.position {
    top: 22%;
}
a.left {
    font-size: 25px;
}
a.right {
    font-size: 25px;
}
.info_btn{
    top: 23%;
}
.pause_sound{
    top: 23%;
    left: 56.5%;
}
.elephant {
    top: 12%;
}
.lion_light {
    top: 12%;
}
}
@media only screen and (min-width:991px) and (max-width:1110px){
.slideR_frame {
    top: 19%;
}
.info_btn {
    top: 26%;
}
.pause_sound {
    top: 26%;
    left: 56.5%;
}
.position {
    top: 25%;
}
a.left {
    font-size: 29px;
}
a.right {
    font-size: 29px;
}
.elephant {
    top: 16%;
}
.lion_light {
    top: 15%;
}
.loading_elephant {
    top: 27%;
}
.icon_shape {
    font-size: 18px;
}
.window_icon {
    top: 34%;
}
.circle_icon {
    top: 30%;
}
.star_icon {
    top: 29%;
}
.cloud_icon {
    top: 32%;
}
.smile_icon {
    top: 36%;
}
}
@media only screen and (min-width:768px) and (max-width:991px){
.slideR_frame {
    top: 26%;
}
.position {
    top: 30%;
}
a.left {
    background: #E6A24E;
    color: #fff;
    font-size: 25px;
}
a.right {
    background: #E6A24E;
    color: #fff;
    font-size: 25px;
}
.info_btn {
    top: 23%;
}
.pause_sound {
    top: 23%;
    left: 55.5%;
}
.left_animal_plant {
    top: 33%;
}
.right_animal_plant {
    top: 31%;
}
.left_animal_group_3 {
    top: 21%;
}
.elephant {
    top: 23%;
}
.lion_light {
    top: 22%;
}
.pause_sound {
    left: 55.5%;
    top: 31%;
}
.info_btn {
    top: 31%;
}
.loading_elephant {
    top: 32%;
}
.icon_shape {
    font-size: 16px;
}
.window_icon {
    top: 38%;
}
.circle_icon {
    top: 34%;
}
.star_icon {
    top: 33%;
}
.cloud_icon {
    top: 36%;
}
.smile_icon {
    top: 40%;
}
}

@media only screen and (min-width:320px) and (max-width:767px){
.slideR_frame {
    left: 20%;
    position: absolute;
    right: 20%;
    top: 55px;
    z-index: 999999;
}
.position {
    left: 25%;
    margin: 0;
    position: absolute;
    right: 24.7%;
    top: 99px;
    z-index: 999999;
}
.clearfix {
    left: 33%;
    position: absolute;
    right: 34%;
    top: 400px;
    z-index: 46;
}
a.left {
    background: #E6A24E;
    color: #fff;
    font-size: 40px;
}
a.right {
    background: #E6A24E;
    color: #fff;
    font-size: 40px;
}
.info_btn {
    top: 109px;
    left: 69%;
}
.pause_sound {
    left: 63.5%;
    top: 109px;
}
.elephant {
    top: 12%;
}
.lion_light {
    top: 12%;
}
.loading_elephant {
    left: 28%;
    position: absolute;
    right: 29%;
    top: 124px;
    z-index: 999999999;
}
.page_information_2 {
    top: 470px;
    left: 37%;
    width: 300px;
}
.icon_shape {
    font-size: 18px;
}
.window_icon {
    top: 166px;
}
.circle_icon {
    left: 54%;
    right: 38%;
    top: 135px;
    width: 24px;
}
.star_icon {
    left: 59%;
    top: 133px;
}
.cloud_icon {
    left: 63%;
    top: 155px;
}
.smile_icon {
    left: 65%;
    top: 187px;
}
.zebra_kid {
    top: 51%;
}
.fotosia {
    top: 549px;
    filter: brightness(0.3);
    left: 27%;
    position: absolute;
}
.more_links {
    top: 552px;
    filter: brightness(0.3);
    left: 52%;
    position: absolute;
    z-index: 5555;
}
.page_info_area {
    left: 1%;
    top: 175px;
    width: 100%;
}
.page_info_ziraph_kid {
    top: 470px;
    left: 25%;
}
}
/*
@media only screen and (min-width:560px) and (max-width:615px){
.slideR_frame {
    top: 19%;
}
.position {
    top: 22%;
}
a.left {
    font-size: 29px;
}
a.right {
    font-size: 29px;
}
.info_btn {
    top: 23%;
}
.pause_sound {
    top: 23%;
    left: 55.5%;
}
.elephant {
    top: 12%;
}
.lion_light {
    top: 12%;
}
.loading_elephant {
    top: 27%;
}
.icon_shape {
    font-size: 18px;
}
.window_icon {
    top: 34%;
}
.circle_icon {
    top: 30%;
}
.star_icon {
    top: 29%;
}
.cloud_icon {
    top: 32%;
}
.smile_icon {
    top: 36%;
}
.zebra_kid {
    top: 51%;
}
}
@media only screen and (min-width:317px) and (max-width:560px){
.slideR_frame {
    top: 19%;
}
.position {
    top: 22%;
}
a.left {
    font-size: 29px;
}
a.right {
    font-size: 29px;
}
.info_btn {
    top: 23%;
}
.pause_sound {
    top: 23%;
    left: 55.5%;
}
.elephant {
    top: 12%;
}
.lion_light {
    top: 12%;
}
.loading_elephant {
    top: 27%;
}
.icon_shape {
    font-size: 18px;
}
.window_icon {
    top: 34%;
}
.circle_icon {
    top: 30%;
}
.star_icon {
    top: 29%;
}
.cloud_icon {
    top: 32%;
}
.smile_icon {
    top: 36%;
}
}
*/